ul
  li <a href="/?model=Person">People</a>
  li <a href="/?model=Contact">Contacts</a>
  li <a href="/?model=Cast">Castings</a>
  li <a href="/?model=Film">Films</a>
  li <a href="/?model=Genre">Genres</a>
  li <a href="/?model=Role">Roles</a>
  li <a href="/annihilate">Annihilate DB</a>